In [45]:
import numpy as np
import pycountry
import pandas as pd
import json

In [76]:
df = pd.read_csv('Final_table.csv')
with open("athlete_count.json", 'r') as json_file:
    find = json.load(json_file)

IndentationError: expected an indented block after 'except' statement on line 40 (1639598447.py, line 42)

In [79]:
# df['Participants'] = np.nan
mapp = noc_to_ioc = {
  'SAU': 'KSA',
  'VGB': 'IVB',
  'HTI': 'HAI',
  'TGO': 'TOG',
  'LKA': 'SRI',
  'GRD': 'GRN',
  'SVN': 'SLO',
  'DEU': 'GER',
  'CHL': 'CHI',
  'NGA': 'NGR',
  'PRY': 'PAR',
  'GTM': 'GUA',
  'DNK': 'DEN',
  'TON': 'TGA',
  'BMU': 'BER',
  'ZMB': 'ZAM',
  'IDN': 'INA',
  'BFA': 'BUR',
  'ZWE': 'ZIM',
  'GRC': 'GRE',
  'TZA': 'TAN',
  'HRV': 'CRO',
  'MYS': 'MAS',
  'ARE': 'UAE',
  'CRI': 'CRC',
  'FJI': 'FIJ',
  'BGR': 'BUL',
  'KWT': 'KUW',
  'PHL': 'PHI',
  'ZAF': 'RSA',
  'WSM': 'SAM',
  'IRN': 'IRI',
  'BHR': 'BRN',
  'TWN': 'TPE',
  'CHE': 'SUI',
  'URY': 'URU',
  'SDN': 'SUD',
  'NLD': 'NED',
  'PRT': 'POR',
  'PRI': 'PUR',
  'BHS': 'BAH',
  'BWA': 'BOT',
  'NER': 'NIG',
  'LVA': 'LAT',
  'MUS': 'MRI',
  'BRB': 'BAR',
  'MNG': 'MGL',
  'DZA': 'ALG',
  'DDR': 'GDR'
}

In [80]:
cnt = 0
miss_noc = []
for i in range(df.shape[0]):
    row = df.iloc[i]
    noc = row['NOC']
    year = row['Year']
    year = str(year)
    if noc in find:
        if year in find[noc]:
            df.loc[i, ['Participants']] = find[noc][year]
            continue
        else:
            continue
    if noc in mapp:
        noc = mapp[noc]
    else:
        print(noc,"!!!")
        continue
    if noc in find:
        if year in find[noc]:
            df.loc[i, ['Participants']] = find[noc][year]
        else:
            # continue
            print(f"{noc} do not have {year}")
            cnt += 1
    else:
        # cnt+=1
        miss_noc.append(noc)
        print(f"{noc} do not find")
print(cnt)

GER do not have 1968
GER do not have 1972
GER do not have 1976
GER do not have 1984
GER do not have 1988
5

In [82]:
df.to_csv('Final_table.csv', index=False)

In [85]:
import pandas as pd

# 读取两个CSV文件
medal_table = pd.read_csv('2025_Problem_C_Data/NEW_MEDAL_TABLE_WITH_PARTICIPANTS_WITH_HOST_FLAG.csv')
complete_output = pd.read_csv('complete_output.csv')

# 为了更高效地查找，创建一个字典来存储medal_table的数据
medal_dict = {(row['NOC'], row['Year']): row[['Gold', 'Silver', 'Bronze', 'Total']]
               for index, row in medal_table.iterrows()}

# 遍历complete_output中的每一行
for index, row in complete_output.iterrows():
    key = (row['NOC'], row['Year'])

    # 检查key是否在medal_dict中
    if key in medal_dict:
        complete_output.at[index, 'Gold'] = medal_dict[key]['Gold']
        complete_output.at[index, 'Silver'] = medal_dict[key]['Silver']
        complete_output.at[index, 'Bronze'] = medal_dict[key]['Bronze']
        complete_output.at[index, 'Total'] = medal_dict[key]['Total']
    else:
        # 如果在medal_table中找不到对应记录，保持为0
        complete_output.at[index, 'Gold'] = 0
        complete_output.at[index, 'Silver'] = 0
        complete_output.at[index, 'Bronze'] = 0
        complete_output.at[index, 'Total'] = 0

# 检查medal_table中是否有未匹配的NOC和Year
unmatched = medal_table[~medal_table.set_index(['NOC', 'Year']).index.isin(complete_output.set_index(['NOC', 'Year']).index)]

# 如果有未匹配的记录，发出警报
if not unmatched.empty:
    print("警报：以下NOC和Year在complete_output中找不到对应记录：")
    print(unmatched[['NOC', 'Year']])
print(unmatched.shape[0])
# 保存结果到新的CSV文件
complete_output.to_csv('updated_complete_output.csv', index=False)

警报：以下NOC和Year在complete_output中找不到对应记录：
      NOC  Year
1     GRC  1896
2     DEU  1896
8     DNK  1896
9     CHE  1896
14    CHE  1900
...   ...   ...
1380  MNG  2024
1384  GRD  2024
1385  MYS  2024
1386  PRI  2024
1393  ZMB  2024

[391 rows x 2 columns]
391

In [87]:
unmatched

      Rank  NOC  Gold  Silver  Bronze  Total  Year  Participants  host_flag
1        2  GRC    10      18      19     47  1896            25          1
2        3  DEU     6       5       2     13  1896            12          0
8        9  DNK     1       2       3      6  1896             5          0
9       10  CHE     1       2       0      3  1896             2          0
14       6  CHE     6       2       1      9  1900            11          0
...    ...  ...   ...     ...     ...    ...   ...           ...        ...
1380    74  MNG     0       1       0      1  2024            55          0
1384    80  GRD     0       0       2      2  2024            76          0
1385    80  MYS     0       0       2      2  2024            55          0
1386    80  PRI     0       0       2      2  2024            63          0
1393    84  ZMB     0       0       1      1  2024            19          0

[391 rows x 9 columns]

In [91]:
import pandas as pd

# 读取 CSV 文件
gold_df = pd.read_csv("Output/2024_Gold_lasso.csv")
total_df = pd.read_csv("Output/2024_Total_lasso.csv")
tmp_df = pd.read_csv("2024_True.csv")

# 合并 Gold 和 Total 数据
merged_df = pd.merge(gold_df, total_df, on='NOC', suffixes=('_Gold', '_Total'))

# 合并 2024_True.csv 和 merged_df
final_df = pd.merge(tmp_df, merged_df, on='NOC', how='left')

# 删除未能合并的行
final_df = final_df.dropna(subset=['Predicted_Gold'])

# 输出未能找到的 NOC
missing_nocs = tmp_df[~tmp_df['NOC'].isin(final_df['NOC'])]['NOC'].unique()
if len(missing_nocs) > 0:
    print("以下 NOC 找不到对应的预测值，已被删除：")
    print(missing_nocs)

# 保存最终结果到新的 CSV 文件
final_df.to_csv('final_output.csv', index=False)

# 输出结果确认
print("最终结果已保存到 'final_output.csv'")

以下 NOC 找不到对应的预测值，已被删除：
['AIN' 'ANZ' 'CRT' 'EOR' 'EUN' 'KOS' 'LBN' 'MAL' 'NBO' 'NFL' 'RHO' 'ROC'
 'ROT' 'SAA' 'SSD' 'UAR' 'UNK' 'WIF' 'YAR' 'YMD']
最终结果已保存到 'final_output.csv'